.corpo {
    width: 90vw;
    height: 80vh;
    display: flex;
    justify-content: space-between;
}

.colunas {
    border: 2px solid rgb(251, 150, 120);
    width: 30%;
    height: 95%;
    margin: 6px;
}