
.barra {
    width: 10vw;
    height: 100vh;
    background-color: rgb(251, 150, 120);
}

.imagem {
    width: 100%;
    background-color: rgb(251, 150, 120);
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75vh;
    background-color: rgb(251, 150, 120);
    align-items: center;
}

.link {
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    width: 80%;
    font-size: medium;
    font-weight: bold;
    padding: 6px;
    color: rgb(251, 150, 120);
    box-shadow: 7px 9px 5px -4px rgba(0,0,0,0.29);
}

.link:hover {
    box-shadow: 7px 9px 18px -4px rgba(0,0,0,0.49);
}

